// ---------------------------------------------------------------------------
// Imports

@import "susyone";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

$show-grid-backgrounds: true;


// ---------------------------------------------------------------------------
// Color

$background-color: #fff; // white
$text-color: #444; // dark
$active-color: #CC0000; // red

$grey-dark: #333333; // tag cloud
$grey-medium: #555; //Headers
$grey-light: #999999; // Primary accent

$accent-dark: $grey-dark; // Darker color for title and visited links.
$accent-main: $active-color; // red
$accent-light: $grey-light;


// ---------------------------------------------------------------------------
// Typography

$font-family-main: 'Franklin Gothic', 'Lato', Verdana, Arial, sans-serif;
$base-font-size: 12px;
$base-line-height: 20px;
$font-family-title: "Franklin Gothic", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;

// ---------------------------------------------------------------------------
// Mixins

@mixin link-button {
    padding: 5px;
    display: block;
    background-color: $accent-light;
    margin-bottom: .5em;
    &:hover {
        color: $accent-light;
        text-decoration: none;
   }
}

@mixin line-button {
    &:before {
        content: "\2014\0020";
    }
}
