// ---------------------------------------------------------------------------
// Imports

@import "susy";
@import "compass";

// ---------------------------------------------------------------------------
// Basic Grid

$susy: (
  // the basics
  columns: 12,
  gutters: 1 / 6,
  global-box-sizing: border-box,
  debug: (image: hide),
);

@include border-box-sizing;

$content-margin: 9.6528%;

// ---------------------------------------------------------------------------
// Color

// white
$background-color: #fff;

$text-color: #444;

// dark
$active-color: #CC0000;

$grey-dark: #333333;

$grey-medium: #555;

$grey-medlight: #7c7c7c;

$grey-light: #cccccc;

// Primary accent
$accent-dark: $grey-dark;

// Darker color for title
$accent-main: $active-color;

$accent-med: $grey-medlight;

$accent-light: $grey-light;

// ---------------------------------------------------------------------------
// Typography

$font-family-main: "Helvetica Neue", "Helvetica", Arial, sans-serif;
$base-font-size: 20px;
$base-line-height: 32px;
$font-family-title: "Helvetica Neue", "Helvetica", "Lucida Sans Unicode", "Lucida Sans", sans-serif;

// ---------------------------------------------------------------------------
// Mixins

@mixin link-button {
  padding: 5px;
  display: block;
  background-color: $accent-light;
  margin-bottom: 10px;

  &:hover {
    color: $accent-light;
    text-decoration: none;
  }
}

@mixin line-button {
  &:before {
    content: "\2014\0020";
  }
}
