// ---------------------------------------------------------------------------
// Imports

@import "susyone";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns: 12;
$column-width: 6em;
$gutter-width: 1em;
$grid-padding: $gutter-width;

$show-grid-backgrounds: true;

// ---------------------------------------------------------------------------
// Color

$background-color: #fff;

// white
$text-color: #444;

$active-color: #CC0000;

$grey-dark: #333333;

// tag cloud
$grey-medium: #555;

// Headers
$grey-light: #999999;

$accent-dark: $grey-dark;

$accent-main: $active-color;

$accent-light: $grey-light;

// ---------------------------------------------------------------------------
// Typography

$font-family-main: "Roboto", "Lato", Verdana, Arial, sans-serif;
$base-font-size: 14px;
$base-line-height: 20px;
$font-family-title: "Roboto", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;

// ---------------------------------------------------------------------------
// Mixins

@mixin link-button {
  padding: 5px;
  display: block;
  background-color: $accent-light;
  margin-bottom: .5em;

  &:hover {
    color: $accent-light;
    text-decoration: none;
  }
}

@mixin line-button {
  &:before {
    content: "\2014\0020";
  }
}
