@import "base";
@import "compass";

/* -------------------------------------------------------------------------*/
/* Table of Contents
-- Layout
-- General
-- Search
-- Navigation
-- Exhibits

/* -------------------------------------------------------------------------*/
/* Layout */

.wrap {
    padding: 0 $content-margin;
}

header[role="banner"] {
    display: flex;
    align-items: center;
    margin: 0;
}

#site-title {
    @include span(5);
    margin-bottom: 0;
}

#top-buttons {
    @include span(7 last);
    min-width: 340px; // measured by what fits now
    display: flex;
    justify-content: flex-end;
}

#featured {@include span(last 5);}
#recent-items {@include span(7 at 5);}
#advanced-search-form label,
#advanced-search-form .label,
.field .columns.alpha {@include span(9 at 3);}
#advanced-search-form .inputs,
.field .columns.omega,
.field .inputs,
div#contribution-type-form div.inputs {@include span(last 3);}

.exhibits #exhibit-pages {
    @include span(4);
}

.exhibits.summary #primary,
.exhibits.show #exhibit-titleblock,
.exhibits.summary #exhibit-titleblock,
#exhibit-blocks {
    @include span(8 last);
    float: right;
}

.item.hentry {
    width: 329px;
    padding: 8px;
}

/* -------------------------------------------------------------------------*/
/* General */

.image {
    float: right;
}

#item-top {
    #item-top-media {
        max-width: 600px;
        margin-right: 50px;
    }
}

#menu-label {
    display: inline-block;
    margin-left: 0;
}

/* -------------------------------------------------------------------------*/
/* Search */

//#search-container {}

/* -------------------------------------------------------------------------*/
/* Advanced Search Form */
#advanced-search-form .field {
    .two label {
        width: 100% !important;
    }
    label,
    .label,
    input,
    select,
    button {
       margin: 1em 0;
    }
}

/* -------------------------------------------------------------------------*/
/* Navigation */



/* -------------------------------------------------------------------------*/
/* Exhibits */

/* TODO: check font sizes against design
.exhibits.show #exhibit-titleblock,
.exhibits.summary #exhibit-titleblock {
    h1 {}
    h3 {}
}*/

.exhibits #exhibit-pages {
    display: block;
    height: 100%;
    padding: 0;
    margin: 0;
    ul {
        display: block;
        li {
            display: block;
            padding: 10px;
            padding-left: 30px;
            text-align: left;
            border: none;
            a {
                background: transparent;
            }
        }
        li:first-of-type {
            padding-left: 0;
        }
    }
    li.current {
        background: transparent;
        a {
            color: $active-color;
        }
    }
}

.exhibits.show {
    #secondary-nav.exhibit-page-nav li {
        float: left;
        margin-top: .5em;
        ul li {
            width: auto;
        }
    }
    #exhibit-page-navigation {
        #exhibit-nav-next,
        #exhibit-nav-prev {
            width: 50%;
        }
        #exhibit-nav-up {
            clear: both;
            width: 33%;
            .current-page {
                clear: none;
            }
        }
    }
}
