@import "susy";
@import "base";
@import "compass";

/* -------------------------------------------------------------------------*/
/* Table of Contents
-- Layout
-- General
-- Search
-- Navigation
-- Exhibits

/* -------------------------------------------------------------------------*/
/* Layout */
#site-title {@include span-columns (9, 12);}
#search-container {@include span-columns (3 omega, 12);}
#featured {@include span-columns (7,12);}
.pagination {@include span-columns(12);}
#sort-links {@include span-columns(12);}
#recent-items {@include span-columns (5 omega, 12);}
#advanced-search-form label,
#advanced-search-form .label,
.field .columns.alpha {@include span-columns (3,12);}
#advanced-search-form .inputs,
.field .columns.omega,
.field .inputs,
div#contribution-type-form div.inputs {@include span-columns (9 omega, 12);}

.exhibits.summary #primary,
.exhibits.summary #content > h1:first-of-type,
.exhibits.show #content > h1:first-of-type,
#exhibit-blocks,
#exhibit-page-navigation {
    @include span-columns (8,12);
}

.exhibits #exhibit-pages:not(.full) {
    width: columns(4);
    display: inline-block;
    margin-right: 0;
}

.full ~ #exhibit-blocks,
.full ~ #exhibit-page-navigation {
    width: 100%;
}

.item.hentry {
    width: 20em;
}

/* -------------------------------------------------------------------------*/
/* General */

.image {
    float: right;
}

/* -------------------------------------------------------------------------*/
/* Search */

#search-container {
    margin-top: 2em;
}
/* -------------------------------------------------------------------------*/
/* Advanced Search Form */
#advanced-search-form .field {
    .two label {
        width: 100% !important;
    }
    label,
    .label,
    input,
    select,
    button {
       margin: 1em 0;
    }
}
/* -------------------------------------------------------------------------*/
/* Navigation */

/*------------ Mega Menu Styles -----------*/
/* mega menu list */
/*** Adapted from Emiglio by Kim Nguyen ****/
/* mega menu list */


/*
#bottom-nav {
    display: block;
    overflow: auto;
    margin-bottom: 1em;
    li {
        color: $accent-dark;
        padding-right: 20px;
        @include line-button;
        display: block;
        float: left;
        &.active {
            color: $active-color;
            font-weight: bold;
        }
        ul {
            display: none;
        }
    }
}*/

/* -------------------------------------------------------------------------*/
/* Exhibits */

.exhibits.summary #primary {
    .exhibit-description,
    .exhibit-credits {
        padding-right: 1em;
    }
}
.exhibits.summary #exhibit-pages {
    padding-top: 0;
}
.exhibits.show {
    #secondary-nav.exhibit-page-nav li {
        float: left;
        margin-top: .5em;
        ul li {
            width: auto;
        }
    }
    #exhibit-page-navigation {
        #exhibit-nav-next,
        #exhibit-nav-prev {
            width: 50%;
        }
        #exhibit-nav-up {
            clear: both;
            width: 33%;
            .current-page {
                clear: none;
            }
        }
    }
}
