@import "base";
@import "compass";

/* -------------------------------------------------------------------------*/
/* Table of Contents
-- Layout
-- General
-- Search
-- Navigation
-- Exhibits

/* -------------------------------------------------------------------------*/
/* Layout */

#wrap {
    padding: 0 $content-margin;
}

.jcarousel-wrapper {
   margin-left: -$content-margin;
}

header[role="banner"] {
    display: flex;
    align-items: center;
    margin: 0;
}

#site-title {
    @include span(5);
    margin-bottom: 0;
}

#top-buttons {
    @include span(7 last);
    min-width: 340px; // measured by what fits now
    display: flex;
    justify-content: flex-end;
}

#featured {@include span(last 5);}
.pagination {@include span(12);}
#sort-links {@include span(12);}
#recent-items {@include span(7 at 5);}
#advanced-search-form label,
#advanced-search-form .label,
.field .columns.alpha {@include span(9 at 3);}
#advanced-search-form .inputs,
.field .columns.omega,
.field .inputs,
div#contribution-type-form div.inputs {@include span(last 3);}

.exhibits.summary #primary,
.exhibits.summary #content > h1:first-of-type,
.exhibits.show #content > h1:first-of-type,
#exhibit-blocks,
#exhibit-page-navigation {
    @include span(8);
}

.exhibits #exhibit-pages:not(.full) {
    @include span(4 last);
    display: inline-block;
    margin-right: 0;
}

.full ~ #exhibit-blocks,
.full ~ #exhibit-page-navigation {
    width: 100%;
}

.item.hentry {
    width: 20em;
}

/* -------------------------------------------------------------------------*/
/* General */

.image {
    float: right;
}

#item-top {
    #item-top-media {
        max-width: 600px;
        margin-right: 50px;
    }
}

#menu-label {
    display: inline-block;
    margin-left: 0;
}

/* -------------------------------------------------------------------------*/
/* Search */

//#search-container {}

/* -------------------------------------------------------------------------*/
/* Advanced Search Form */
#advanced-search-form .field {
    .two label {
        width: 100% !important;
    }
    label,
    .label,
    input,
    select,
    button {
       margin: 1em 0;
    }
}

/* -------------------------------------------------------------------------*/
/* Navigation */



/* -------------------------------------------------------------------------*/
/* Exhibits */

.exhibits.summary #primary {
    .exhibit-description,
    .exhibit-credits {
        padding-right: 1em;
    }
}
.exhibits.summary #exhibit-pages {
    padding-top: 0;
}
.exhibits.show {
    #secondary-nav.exhibit-page-nav li {
        float: left;
        margin-top: .5em;
        ul li {
            width: auto;
        }
    }
    #exhibit-page-navigation {
        #exhibit-nav-next,
        #exhibit-nav-prev {
            width: 50%;
        }
        #exhibit-nav-up {
            clear: both;
            width: 33%;
            .current-page {
                clear: none;
            }
        }
    }
}
