@import "base";
@import "mixins";

/* -------------------------------------------------------------------------*/
/* Table of Contents
-- General Styles
---- Layout
---- General Styles
---- Headings
---- Links
-- Navigation
---- General Nav
---- Mega-Menu Navigation
-- Forms
---- Search
---- Advanced Search
-- Tables
-- Content
---- Browse and Item Pages
---- Collections
---- TagCloud
-- Plugins
---- Simple Pages
---- Geolocation
---- Exhibits

/* -------------------------------------------------------------------------*/
/* Layout */

#wrap {
    @include container;
    margin: 0;
    overflow: visible;
}

.nav-menu {@include span(12); margin-right:0;}
header[role="banner"] {@include span(12);}
#content {@include span(12);}
.pagination-nav {@include span(12);}
#item-filters {@include span(12);}
#sort-links {@include span(12);}
#outputs {@include span(12)}
#advanced-search-form label {@include span(12);}
#advanced-search-form .inputs {@include span(12);}
footer {@include span(12);}

/* -------------------------------------------------------------------------*/
/* General Styles */

body {
    background-color: $background-color;
    font-family: $font-family-main;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $text-color;
    margin: 0;
    overflow: none;
}

.element-set,
.item,
.element,
.collection,
.exhibit,
.hTagcloud {
    padding: 1em 0;
    overflow: hidden;
    clear: both;
}

.element-text {
    font-size: 25px;
}

#featured-item,
#featured-collection,
#featured-exhibit,
#recent-items {
    overflow: hidden;
    margin:1em 0 0;

    h2,
    h3,
    .item,
    .collection,
    .exhibit {
        padding: 0;
    }

    h2 {
        @include padding-leader(1, 1.5 * $base-font-size);
    }

    .image {
        @include leader();
    }

    img {
        float: right;
    }
}

#skipnav {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#skipnav:focus {
    top: 0;
    z-index: 9999;
    clip: initial;
    height: auto;
    width: auto;
    padding: .5em;
    border: 1px blue dashed;
    color: $accent-light;
}

.intro {
    font-style: italic;
}

abbr, acronym {
    border: none;
    font-style: normal;
}

.clear {
    clear: both;
}

a.show {
    padding-left: 5px;
    font-style: italic;
}

blockquote {
    font-style: italic;
}

.view-items-link {
    margin: 1em 0 .5em 0;
    a {
        @include link-button;
        display: inline;
    }
}

.chapters-index {
    h1 {
        text-align: center;
        font-size: 33px;
    }
}

.chapters {
    list-style: none;
    .part-title {
        font-size: 24px;
        font-weight: light;
    }
    .part-subtitle {
        color: black;
        font-size: 28px;
        margin-bottom: 40px;
    }
    ul {
        list-style: none;
        margin-bottom: 40px;
        .chapter-number {
            font-size: 16px;
            font-weight: light;
        }
        .chapter-name {
            font-size: 24px;
            margin-bottom: 10px;
        }
    }

}

#outputs {
    margin-top: 1em;
}

footer {
    padding: 0.5em 0;
}

/* -------------------------------------------------------------------------*/
/* Headings */

#{headings()} {
    font-family: $font-family-title;
    font-weight: normal;
    line-height: $base-line-height * 1.5;
    padding: .5em 0;
    margin:0;
    color: $grey-medium;
}

#{headings(4,6)} {
    font-style: $base-font-size * 1.125;
    line-height: $base-line-height * 1.125;
}

#{headings(5,6)} {
    font-weight: bold;
}

h1 {
    font-size: 48px;
    line-height: $base-line-height * 2.4;
    clear:both;
    word-wrap: break-word;
}

h2 {
    font-size: 35px;
    line-height: $base-line-height * 1.5;
}

h3 {
    font-size: 25px;
    line-height: $base-line-height * 1.25;
}

h6 {
    font-size: italic;
}

header[role="banner"] {
    min-height: 108px;
    margin-bottom: 10px;
    a {
        color: $accent-dark;
    }
}

#site-title {
    color: $accent-dark;
    font-family: $font-family-title;
    font-size: $base-font-size * 1.4;
    font-weight: bold;
    line-height: $base-line-height * 1.2;
    text-transform: uppercase;
    a {
        text-decoration: none;
        color: $accent-dark;
    }
    margin-bottom: 10px;
}

#site-subtitle {
    color: $accent-light;
    font-size: $base-font-size * 0.8;
    line-height: $base-line-height * 0.75;
    margin-top: 0px;
    text-transform: none;
}

#top-buttons {
    float: right;
    font-size: 25px;
    > * {
        display: inline-block;
    }
    a {
        color: $accent-dark;
        text-decoration: none;
    }
}

/* -------------------------------------------------------------------------*/
/* Links */

a {
    @include link-colors($active-color, saturate($active-color,5%), $active-color, lighten($active-color, 10%), $active-color);
    text-decoration: none;
    &:hover{text-decoration:underline;}
}

/* -------------------------------------------------------------------------*/
/* General Navigation */

#nav-trigger {
    display: none;
}

#top-nav {
    display: none;
    width: 468px;
    height: 100%;
    padding-left: 117px;
    position: fixed;
    top: 100px;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.8;
    z-index: 2;
    a {
        color: $accent-dark;
        text-decoration: none;
    }
    ul {
        list-style-type: none;
        li {
            padding: 10px 0 10px 0;
        }
    }
}


.nav-menu {
    font-weight: bold;
}

.nav-item {
    width: 200px;
    float: right;
}

label[for="nav-trigger"] {
    display: inline-block;
    cursor: pointer;
    user-select: none;
}

#menu-label {
    // overridden to show for large screens
    display: none;
}

label[for="nav-trigger"] {
    margin-left: 31px;
}

.nav-trigger:checked ~ #top-nav {
    display: block;
}

.lang-select {
    color: $accent-dark;
    margin-left: 31px;
}

.navigation,
#sort-links {
    font-size: $base-font-size * 1.25;
    line-height: $base-line-height * 1.25;
    padding: 0;
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
}

.navigation #sort-links {
    font-size: $base-font-size * 1;
    line-height: $base-line-height * 1;
    li {
        display: inline;
    }
}

.asc a:after,
.desc a:after {
    font-family: "FontAwesome";
}

.asc a:after {
    content: " \f0d8";
}

.desc a:after {
    content: " \f0d7";
}

.secondary-nav,
#secondary-nav {
    margin-bottom: 1em;
    overflow: none;
    li {
        margin-right: 10px;
        display: block;
        float: left;
        font-weight: bold;
        &.active a {
            font-weight: bold;
            color: $active-color;
        }
    }
}

.browse,
.tags,
.items {
    .secondary-nav li, #secondary-nav li {
        @include line-button;
  }
}

.pagination {
    @include horizontal-list;
    float: right;
    .page-input {
        form {
            padding: 0;
        }
        #page{
            text-align: right;
        }
        input {
            width: 30px;
            text-align: center;
            margin:0;
        }
    }
    .pagination_next a,
    .pagination_previous a,
    .previous-page a,
    .next-page a {
        @include link-button;
        line-height: $base-font-size * 1.5;
    }
}

.pagination_next a:after
.pagination_previous a:after {
    font-family: "FontAwesome";
    height: 1.5 * $base-line-height;
    line-height: 1.5 * $base-line-height;
}

.item-pagination {
    @include horizontal-list;
    padding:2em 0 1em 0;

    .next a, .previous a {
        @include link-button;
    }
}

#sort-links {
    margin:0 0 1em 0;
    .sort-label {
        float:left;
    }
    #sort-links-list {
        overflow: auto;
        padding-left:10px;
    }
    li {
        float:left;
        margin-right:10px;
        @include line-button;
        &.sorting a {
            text-decoration: underline;
            font-weight: bold;
        }
    }
}


select {
    @include border-radius(0px);
    border: 1px solid $grey-medium;
    height: 1.5 * $base-line-height;
    line-height: 1.5 * $base-line-height;
    font-size: $base-font-size;
    margin-right: 3px !important;
    display: inline-block;
}

input[type=text],
input[type=password] {
    border-color: $grey-medium;
    @include rhythm-borders(1px, 0, $base-font-size, solid);
    height: 26px;
}

input[type=submit],
button,
.button {
    @include link-button;
}

.button:focus {
    outline: -webkit-focus-ring-color auto 5px;
}

/* -------------------------------------------------------------------------*/
/*-- Search--*/

#search-container {
    input[type=text] {
        margin: 0;
        width: 100px;
        font-size: 25px;
    }

    .show-advanced,
    button {
        position: relative;
        text-align: center;
        color: $accent-dark;
        background-color: $background-color;
        font-size: 25px;
        line-height: $base-line-height;
    }

    &.with-advanced .show-advanced {
        right: 1.5833 * $base-line-height;
    }

    &.with-advanced button {
        right: 0;
    }

    /*.show-advanced,
    button {
        text-indent: -9999px;
        right: 0;
    } */

    button:after {
        content: "\f002";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: relative;
    }

    .show-advanced:after {
        content: "\f141";
    }

    #advanced-form {
        position: absolute;
        top: 1.5 * $base-line-height;
        z-index: 20;
        width: 100%;
        border: 1px solid;
        border-color: $grey-medium;
        border-top-color: #fff;
        padding: 0 5%;
        text-align: left;

        &.closed {
            display: none;
        }

        label {
            font-weight: normal;
        }

        input[type=checkbox],
        input[type=radio] {
            margin: rhythm(.25) 5px 0 0;
            float: left;
        }
    }
}

#search-filters,
#item-filters {
    ul {
        list-style-type: none;
        padding: 0;
        @include trailer(1);
    }

    li {
        display: inline-block;
        vertical-align: top;

        &:not(:last-of-type) {
            border-right: 1px solid $text-color;
            padding-right: .5em;
            margin-right: .25em;
        }
    }

    ul ul {
        display: inline-block;
    }

    li li {
        text-transform: lowercase;

        &:not(:last-of-type):after {
            content: ", ";
        }

        &:not(:last-of-type) {
            border-right: 0;
            padding-right: 0;
            margin-right: .125em;
        }
    }
}
/* -------------------------------------------------------------------------*/
/* Advanced Search Form */

.field {
    border-top:1px solid $grey-medium;
    overflow: auto;

    label {
        display: inline-block;
    }
}

#advanced-search-form {
    padding:2em 0;
    label, input, select, button {
        margin:.5em 0;
    }
}

.remove_search {
    padding: rhythm(.25) 10px;
    text-indent: -9999px;
    width: 1.5 * $base-line-height;
    position: relative;
    height: 1.5 * $base-line-height;
    display: inline-block;

    &:after {
        content: "\f00d";
        font-family: "FontAwesome";
        text-indent: 0;
        text-align: center;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        line-height: 1.5 * $base-line-height;
    }
}

/* -------------------------------------------------------------------------*/
/* Tables */
table {
    width:100%;
    margin:1em 0;
    overflow: auto;
}
th,
td {
    border-bottom:1px solid $grey-medium;
    margin:0;
    padding:0.5em 0;
}
th {
    border-width:3px;
    text-align:left;
}

/* -------------------------------------------------------------------------*/
/* Browse and Item Pages */

#recent-items .item {
    border-bottom:1px solid $grey-medium;
    @include trailer();
}

.item.hentry {
    width: 100%;
    min-height: 50px;
    vertical-align: top;
    display: inline-block;
    padding: 20px;

    .item-img {
        width: 100%;
        text-align: center;
        img {
            max-width: 450px;
            width: 100%;
        }
    }
}

#item-top {
    width: 100%;
    div {
        display: inline-block;
        vertical-align: top;
    }
    #item-top-media,
    img,
    iframe {
        max-width: 100%;
        max-height: 600px;
    }
    .lightbox-link img {
        cursor: zoom-in;
    }
    .placard {
        max-width: 400px;
        word-wrap: break-word;
    }
    #lightbox {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: center;
        background-color: rgba(0,0,0,.8);
        img {
            max-width: 90%;
            max-height: 90%;
            margin-top: 5%;
        }
        #close {
            position: absolute;
            width: 3em;
            height: 3em;
            top: 1em;
            right: 1em;
            background-position: 50%;
            background-size: cover;
            text-indent: -999em;
            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20viewBox%3D%220%200%2032%2032%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M21.7%2010.3c-0.4-0.4-1-0.4-1.4%200l-4.3%204.3-4.2-4.2c-0.4-0.4-1-0.4-1.4%200-0.4%200.4-0.4%201%200%201.4l4.2%204.2-4.3%204.3c-0.4%200.4-0.4%201%200%201.4%200.4%200.4%201%200.4%201.4%200l4.3-4.3%204.2%204.2c0.4%200.4%201%200.4%201.4%200%200.4-0.4%200.4-1%200-1.4l-4.2-4.2%204.3-4.3C22.1%2011.3%2022.1%2010.7%2021.7%2010.3zM16%200C7.2%200%200%207.2%200%2016s7.2%2016%2016%2016c8.8%200%2016-7.2%2016-16S24.8%200%2016%200zM16%2030C8.3%2030%202%2023.7%202%2016S8.3%202%2016%202s14%206.3%2014%2014S23.7%2030%2016%2030z%22%2F%3E%3C%2Fsvg%3E');
        }
    }

    #lightbox:target {
        display: block;
    }
}

.show {
    #output-format-list {
        @include horizontal-list;
    }
}

#itemfiles {
    .item-file {
        display: inline-block;
        padding-right:1em;
    }

    [class^="video-"].item-file,
    [class*=" video-"].item-file,
    [class^="audio-"].item-file,
    [class*=" audio-"].item-file {
        display: block;
        padding-right: 0;
    }
}

#itemfiles .download-link {
    display: block;
    height: rhythm(5);

    img {
        height: 100%;
        width: auto;
    }
}

/* -------------------------------------------------------------------------*/
/* File Pages */

body.files .item-file {
    @include trailer();
}

#sidebar {
    clear: both;
}

/* -------------------------------------------------------------------------*/
/* Collections */

.collections {
    .collection {
        margin-bottom:2em;
    }
    .element {
        margin: 0 0 1em 0;
        padding: 0;
        clear: none;
    }

    .item {
        border-top:1px solid $grey-medium;
    }
}
#item-filters {
    ul{
        list-style-type: none;
        padding-left: 0;
    }
    .collection {
        overflow: initial;
        @extend h2;
        border-top:none;
    }
}

.image {
    float: right;
    margin: 0 0 rhythm() rhythm();
    height: rhythm(5);

    img {
        float: left;
        height: 100%;
        width: auto;
    }
}

.collection .image img,
.exhibit .image img {
    @include box-shadow(-6px -6px 0 #bbb, -12px -12px 0 #eee);
    margin-left: 12px !important;
}

/* -------------------------------------------------------------------------*/
/* TagCloud */

.hTagcloud {
    ul {
        list-style:none;
        margin-left:0;
        padding-left:0;
        padding-top:1em;
        li {
            display:inline-block;
            margin: (.25 * $base-line-height) 20px;
            margin-left: 0;
            a {
                text-decoration: none;
            }
        }
        .popular,
        .-popular {
            font-size:120%;
        }
        .v-popular {
            font-size:140%;
        }
        .vv-popular {
            font-size:180%;
        }
        .vvv-popular {
            font-size:220%;
        }
        .vvvv-popular {
            font-size:260%;
        }
        .vvvvv-popular {
            font-size:300%;
        }
        .vvvvvv-popular {
            font-size:320%;
        }
        .vvvvvvv-popular {
            font-size:340%;
        }
        .vvvvvvvv-popular {
            font-size:360%;
        }
    }
}

/* -------------------------------------------------------------------------*/
/* Simple Pages */

#simple-pages-breadcrumbs {
    margin-bottom: 1.5em;
    font-style: italic;
    a{
        @include link-button;
        display: initial;
    }
}

/* -------------------------------------------------------------------------*/
/* Geolocation */

#map {
    #map-links {
        padding-top:0 !important;
    }
    #link-block {
        height:auto;
    }
}

#geolocation {
    margin:1em 0;
}
/* -------------------------------------------------------------------------*/
/* Commenting */
#comments-container {
    margin:1em 0;
    #comments {
        margin:0;
        padding:0;
    }
}

#recaptcha_area input {
    min-height: 0;
}

/* -------------------------------------------------------------------------*/
/* Exhibits */

#exhibit-pages:not(.full) {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    ul {
        height: 100%;
        width: 100%;
        display: table;
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            height: 100%;
            display: table-cell;
            text-align: center;
            vertical-align: top;
            a {
                padding: 10px;
                &:hover{text-decoration:none;}
                height: 100%;
                display: block;
                border: 1px solid $grey-light;
                color: $grey-medium;
                overflow: auto;
            }
            ul a {
                &:before {
                    content: "\2014\0020";
                }
            }
        }
    }

    li.current a,
    a.active {
        background: $grey-light;
        color: $active-color;
    }
}

.exhibit .description p:first-of-type,
.collection .collection-description p:first-of-type {
    margin-top: 0;
}

#exhibit-pages.full {
    border-color: $grey-medium;

    ul {
        margin: 1em 0 0 0;
        list-style-type: none;
        li {
            display: block;

            a {
                display: block;
                &:hover{text-decoration: none;}
            }
            ul {
                margin-left: 2em;
            }
        }
    }

    .current-page {
        display: block;
        background-color: $accent-light;
        padding: .5em;
        color: white;
    }

    #secondary-nav {
        overflow: hidden;
        li {
            border: none;
            margin: 0 .5em .5em 0;
        }
        ul {
            width: 100%;
            float: left;
            margin: 0;
            .current a {
                color: white;
            }
            li {
                padding:0;
                display:block;
                float:left;

                a {
                    @include link-button;
                    margin-bottom:0;
                }

            }
        }
        & > li:nth-child(2) {
            display: block;
        }

        & > li:nth-child(3) {
            display: block;
            clear: both;
            a {@include line-button;}
        }

        & > li:nth-child(4) {
            display: block;
            clear: left;
            a {@include line-button;}
        }

        .exhibit-title {
            font-family: $font-family-title;
            text-transform: uppercase;
            padding: .5em 0;
            &:after { content: ":" }
        }
    }
}

#exhibit-child-pages {
    clear: both;
    overflow: hidden;
    padding: .5em 0;
    .exhibit-child-nav {
        margin: .5em 0;
        li {
            border: none;
            display: block;
            float: left;
            margin: 0 5px 5px 0;

            a {
                @include link-button;
                @include line-button;
            }
        }
    }
}
.exhibit-block {
    margin-top: 1em;
    padding-right: 1em;
    overflow: auto;
    clear: both;
    .exhibit-items.left {
        margin-right: 5%;
    }
    .exhibit-items.right {
        margin-left: 5%;
    }
}

#keywords-section {
    display: none;
}

#item-tags {
    font-size: 21px;
}

#about-section,
#more-info-section {
    display: table;
    margin-bottom: 5em;
    border-spacing: 0 20px;
    .element-col-name,
    .element-col-text {
        display: table-column;
    }
    .element {
        display: table-row;
        .element-cell {
            display: table-cell;
            vertical-align: top;
            line-height: 35px;
        }
        .element-cell-name {
            float: left;
            margin-right: 40px;
            white-space: nowrap;
            font-weight: bold;
            font-size: 25px;
        }
    }
}

#more-info-section {
   display: none;
}

#item-about,
#item-keywords,
#item-works,
#item-more-info {
    border-top: 1px solid $grey-medium;
    a {
        text-decoration: none;
    }
}

#item-more-info {
    border-bottom: 1px solid $grey-medium;
}

#expand-symbol {
    float: right;
}
